body{
    background-color: lightgray;
    margin: 0;
    padding: 0;

}
h1,p {
    padding: 20px 20px 20px 20px;
    margin-left: 20px;
    margin-top: 10px;
}

p.up ,.down{
    width: 150px;
    height: 100px;
    background-color: darkgray;
    display: inline-block;
    text-align: center;
    font-size: 70px;
}

p.down{
    width: 170px;
    height: 100px;

}
span {
    color: red;
}